<link rel="stylesheet" href="/stylesheets/style.css">
<div class="form-control">

<form action="/users/expense" method="POST">
    <h2>
     Expense
    </h2>
    <input type="text" name="category" placeholder="Category of expense">
    <input type="number" name="amount" placeholder="Amount">
    <input type="date" name="date" placeholder="Date">
    <input type="submit" value="Add Expense" class="btn">
</form>
</div>

