<link rel="stylesheet" href="/stylesheets/style.css">
<div class="form-control">

    <form action="/users/income" method="POST">
        <h2>
         Income
        </h2>
        <input type="text" name="source" placeholder="Source of income">
        <input type="number" name="amount" placeholder="Amount">
        <input type="date" name="date" placeholder="Date">
        <input type="submit" value="Add income" class="btn">
    </form>
</div>