<link rel="stylesheet" href="/stylesheets/style.css">
<div class="form-control">


    <form action="/users/varifyOtp" method="POST">
        <h2> Varify OTP</h2>
        <input type="number" name="code" placeholder="OTP">
        <input type="password" name="password" placeholder="New Password">
        <input type="submit" value="Submit OTP" class="btn">
    </form>
</div>