/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom */
body {
  font-family: "Rajdhani", sans-serif;
}
a {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* variables */
.root {
  ---Primary: rgb(76, 96, 108);
  ---Secondary: white;
  ---text-dark: rgb(40, 62, 125);
  ---bg-light: rgb(213, 229, 229);
  ---text-light: rgb(110, 113, 120);
}
/* general classes */
.center {
  text-align: center;
}

.margin {
  margin: 1rem;
}

.padding {
  padding: 1rem;
}

.btn input {
  display: inline-block;
  background-color: white;
}

/*  */
header {
  background-color: rgb(127, 133, 135);
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul div {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  font-size: 1.3rem;
}

header nav ul div a {
  color: white;
}

.brand {
  color: rgb(238, 200, 12);
  font-size: 1.7rem;
  border: 1.5px solid rgb(238, 200, 12);
  padding: 0.5rem;
  font-weight: 600;
}

/* form */
.form-control {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.form-control h2 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.4rem 0;
  font-size: 2rem;
  margin-top: -1.39rem;
  margin-left: -1rem;
  margin-right: -1rem;
}
.form-control form {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1.5rem 1rem;
  justify-content: center;
}

.form-control form input::placeholder {
  color: white;
  font-size: 1rem;
}
.form-control form input {
  background-color: rgb(178, 178, 178);
  color: white;
  padding: 0.6rem 0.5rem;
  outline-color: rgb(178, 178, 178);
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: white;
  font-size: 1rem;
  /* border-color: transparent; */
}

.form-control form .btn {
  margin-top: 1rem;
  background-color: white;
  color: rgb(178, 178, 178);
  border-radius: 0.3rem;
  border: 1px solid white;
  padding: 0.4rem 0.3rem;
  font-size: 1.3rem;
  cursor: pointer;
}

/* drop down */
.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding: 1rem;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  right: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

/* onboarding */
.section {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
}

.parent {
  width: 57%;
}

.section aside {
  width: 35%;
}

.section aside form {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
  margin-top: 0.5rem;
}

/* income and expense buton */
.btn-2 {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.g-btn {
  background-color: rgb(72, 187, 120);
  padding: 0.7rem 0.9rem;
  font-weight: 600;
  font-size: 1.3rem;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  /* margin-bottom: 1rem; */
}

.r {
  background-color: rgb(255, 127, 127);
}

/* parent */
.parent {
  display: flex;
  justify-content: space-between;
}

.col-1 {
  width: 30%;
}

.col-2 {
  width: 70%;
}
.sub-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-red {
  color: red;
  font-size: 1.2rem;
}

.color-green {
  color: forestgreen;
  font-size: 1.2rem;
}

.sub-child h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.date {
  font-size: 1.1rem;
  margin: 0.4rem 0;
}

.d2d {
  display: flex;
  justify-content: space-between;
}

.saving {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.history {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
}
